.testimonial{
	height: 250px;
	width: 300px;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  	transition: box-shadow 0.3s ease-in-out;
}

.testimonial p {
	margin: 30px;
}

.testimonial img {
	height: 53px;
	width: 53px;
	border-radius: 50%;
	position: relative;
	z-index: 10;
}

.testimonial div {
	text-align: center;
}

.testimonial hr{
	position: relative;
	top: 35px;

}

div h1,h2 {
	text-align: center;
}

.box {
	justify-content: space-around;
	display: flex;
	margin: 0 50px;

}

.testimonial:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;

}
nav > ul {
	display: flex;
	list-style-type: none;

}

nav > ul > li {
	margin: 0 20px;
	
}

.para {
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin: 0 50px;
}

.img {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}